* {
    box-sizing: border-box;
};

main {
background-color:aquamarine;
};

header {
color: blue;
};

h1 {

};

.managerCard {

};

.managerHeader {

};

.managerList {

};

.managerListItem {

};

.engineerCard {

};

.engineerHeader {

};

.engineerList {

};

.engineerListItem {

};

.internCard {

};

.internHeader {

};

.internList {

};

.internListItem {

};
